body {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}
nav {
  height: 50px;
  background-color: grey;
  display: flex;
  margin-bottom: 10px;
}
nav ul {
  padding: 0;
  flex: 2;
  display: flex;
  margin-left: 500px;
}

nav li {
  display: inline;
  text-align: center;
  flex: 1;
}

nav a {
  display: inline-block;
  font-size: 0.5rem;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}